.editor__div--flex {
    width: 75%;
    display: flex;
    order: 2;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: white;
}

.editor__input {
    width: 1000px;
    height: 70px;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.editor__content {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    margin-top: 10px;
}

.editor__main--content {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0);
    border: none;

    font-size: 50px;
    color: grey;
    text-align: center;
    margin: 0 auto;
    margin-top: 20%;
}