p {
    line-height: 10%;
}

.editor__div--flex {
    width: 75%;
    height: 95%;
    display: flex;
    order: 2;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: white;
}

.editor__input {
    width: 80%;
    height: 10%;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.editor__input--area {
    width: 80%;
    height: 85%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

.editor__content {
    height: 85%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    overflow: auto;
    display: block;
    padding-left: 5px;
    padding-right: 5px;
}

.editor__main--content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0);
    border: none;

    font-size: 50px;
    color: grey;
    text-align: center;
    margin: 0 auto;
    margin-top: 20%;
}