:root {
  --sidebar-background: #f7f7f5;
  --sidebar-selected: #e6e6e6;
  --sidebar-header-color: rgb(55, 53, 47);
  --sidebar-font-color-100: #e1e1e0;
  --sidebar-font-color-200: #91918e;
  --sidebar-font-color-300: rgba(55, 55, 55, 0.841);
  --sidebar-icon-background-color: #cececb;
  --sidebar-icon-background-click-color: #bbbbb8;

  --sidebar-width: 15rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: white;
  height: 100vh;
}
.editor-toolbar {
  position: absolute;
  display: none;
  background: white;
  border: 1px solid var(--sidebar-font-color-100);
  box-shadow: 0 0 1rem 0.1rem var(--sidebar-font-color-100);
  border-radius: 0.5rem;
  padding: 5px;
  z-index: 1000;
}
.editor-toolbar button {
  margin-right: 5px;
}
