:root {
  --sidebar-background: #f7f7f5;
  --sidebar-selected: #e6e6e6;
  --sidebar-header-color: rgb(55, 53, 47);
  --sidebar-font-color-200: #91918e;
  --sidebar-font-color-300: rgba(55, 55, 55, 0.841);
  --sidebar-icon-background-color: #cececb;
  --sidebar-icon-background-click-color: #bbbbb8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: white;
  height: 100%;
}
