/* details {
    font: 16px "Open Sans", Calibri, sans-serif;
    width: 620px;
} */

details {
    display: inline;
    width: 95%;
    margin-left: 5%;
}

details>summary {
    padding-top: 2px;
    padding-bottom: 2px;
    margin-right: -10px;
    border: none;
    cursor: pointer;
    list-style: none;
}

details>summary::marker {
    content: '👉';
    font-size: 12px;
}

details[open]>summary::marker {
    content: '👇';
    font-size: 12px;
}

details>span {
    margin: 0;
}

.filePage__text--page-summary {
    display: inline;
    font-weight: normal;
}


.filePage__summary {
    background-color: rgb(254, 231, 246);
}

.filePage__summary--highlight {
    background-color: rgb(196, 179, 190);
}

.filePage__text--white-space {
    white-space: pre;
}

.filePage__text--empty {
    color: grey;
    font-size: 15px;
}

.filePage__button {
    display: inline;
    float: right;
    margin-bottom: -10px;
}

.filePage__button--delete {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.filePage__button--add {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
}

.filePage__root-add--add {
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
    color: gray;
}

.sidebar__aside--flex {
    width: 20%;
    display: flex;
    order: 1;
    flex-direction: column;
    background-color: rgb(254, 231, 246);
    /* border: 1px solid blueviolet; */
}

.sidebar__section--name {
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.sidebar__section--file {
    width: 90%;
    font-size: 20px;
    color: rgba(55, 55, 55, 0.841);
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
}